{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <title>Musical São João</title>
</head>
<body>

    {% include 'partials/header.html' %}

    {% include 'partials/carousel.html' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}

</body>
</html>